@model IEnumerable<PrototipoRestaurante3.Models.Plato>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RutaImagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Promocion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RutaImagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Promocion.PromocionID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlatoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlatoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlatoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
