@model PrototipoRestaurante3.Models.Empleado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEmp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEmp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sueldo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sueldo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rol.RolID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EmpleadoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
