@model PrototipoRestaurante3.Models.DetalleCarrito

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DetalleCarrito</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoItem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioUnitario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carrito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carrito.CarritoID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plato.PlatoID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Combo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Combo.ComboID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DetalleCarritoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
