@model IEnumerable<PrototipoRestaurante3.Models.DetalleCarrito>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Combo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carrito.CarritoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plato.PlatoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Combo.ComboID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DetalleCarritoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DetalleCarritoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DetalleCarritoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
